.add-improvement-dialog {
    border-radius: 7px;
    background: #6b6a63;
    margin: 30px auto 0;
    padding: 6px;
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -40px;
}