@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F2F8F8;
  ;

}

* {
  font-family: 'Averia Serif Libre', cursive;
}

.header {
  width: 100%;
  position: fixed;
  background: #077187;
  color: #F2F8F8;
  top: 0;
  display: flex;
  justify-content: center;
  letter-spacing: .2rem;
}