.gameboard {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 40px;
  /* border: 1px solid black; */

}

.gameboard-row {
  display: flex;
  flex-direction: row;

}

.tile {
  height: 78px;
  width: 78px;
  border: 1px solid #F2F8F8;
  border-radius: 3px;

  background-color: #CAE3E3;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

}

.hidden {
  display: none;
}

.shown {
  display: block;
}

img {
  width: 72px;
  height: auto;
}