.gameboard {
  margin-top: 50px;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.gameboard-row {
  width: 100%;
  height: 20%;
  display: flex;
  
}

.tile {
  height: 100%;
  width: 20%;
  border: 2px solid black;
  display: flex;
  background-color: green;
  justify-content: center;
  align-items: center;
  color: white;
  
}
.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

}
