.gameboard {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 40px;
  /* border: 1px solid black; */

}

.gameboard-row {
  display: flex;
  flex-direction: row;

}

.tile {
  height: 78px;
  width: 78px;
  border: 1px solid #F2F8F8;
  border-radius: 3px;

  background-color: #CAE3E3;
}

.hiddenCircle {
  display: none;
}

.shownCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #077187;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

}

.hidden {
  display: none;
}

.shown {
  display: block;
}

img {
  width: 72px;
  height: auto;
}
li {
  list-style: none;
}
/* Tile.insideTile {
  position: relative;
} */
p.levelNumber{
  background-color: blue;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}